@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

#outer-border {
width: 100%;
height: 900px;
background-color: #f5f5f5;
}

#inner-border {
width: 80%;
height: 100vh;
min-height: 900px;
margin: auto;
border-left: 2px solid #3F7F82;
border-right: 2px solid #3F7F82;
background: #ffff;
box-shadow:  0px 19px 19px 31px #e4e4e4;
}

.centered-div {
  position: relative;
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.frame-1 {
  position: relative;
  width: 312px;
  height: 124px; 
  margin: 25px;
  text-align: start;
}

.illustration {
  position: relative;
  width: 312px;
  height: 203.85px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.input-form {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-primary-button {
  position: relative;
  height: 48px;
  border-radius: 6px;
  margin: 25px;
}

#providers-secondary-button {
  position: relative;
  height: 48px;
  border-radius: 6px;
}

#overflow {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  position: absolute;
  width: 223px;
  height: 40px;
  left: 0px;
  top: 32px;
}

header h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}


#vaxx {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  align-items: center;
  width: 103px;
  height: 40px;
  left: 0;
}

#heading-paragraph {
  width: 312px;
  height: 48px;
  left: 0px;

  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.initial-form {
  margin: 25px;
}

.tip {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-list {
  text-align: left;
}

.selectors-list {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  
}

.centered-div h4 {
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

#notification-span {
  position: relative;
  width: 312px;
  height: 48px;
}

#notification-span mark {
  font-weight: 600;
  color: #3F7F82;
  background: none;
}

#notification-body div {
  position: relative;
  width: 100%;
  height: 40px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#notification-body div * {
  padding: 5px;
}

#notification-body {
  position: relative;
  margin-top: 176px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #C6C6C6;
}

#body-mark-one {
  font-weight: 400;
  background: none;
  font-size: 24px;
  line-height: 28px;
}

#body-mark-two {
  background: none;
  color: #3F7F82;
}

#body-container {
  display: flex;
  flex-direction: column;
}

#notification-body-two {
  margin-top: 25px;
}

.send-home {
  position: relative;
  margin-top: 176px;
}

.long-con {
  margin-top: 30px;
  margin-bottom: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.long-box {
  width: 100%;
  height: 100px;
  overflow-y: auto;
  border: solid 1px #333333;
  margin: 10px;
  border-radius: 6px;
  padding: 5px;
}


@media only screen and (max-width: 600px) {
  #inner-border {
    width: 100%;
    border: none;
    background-color: #ffff;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  #centered-div {
    width: 90%;  
    margin: 0 auto; 
  }
}


/* .green-checkmark {

} */

.user-reg-success {
  position: relative;
  width: 80%;
  height: 40px;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  

}